[2018-04-03 19:58] kbt1 opened #1 "Karen Admin vs. Teacher Login"
Stella, I logged in under the admin user name and password and saw that Rob as a student passed chap 1 and 2 with 100% today.
![image](https://user-images.githubusercontent.com/26387044/38272581-3fcc2c98-374f-11e8-9cee-2f81dc2515d3.png)

When i log into the SamTech Teacher login I created for myself, it doesnt show any score for Chap 1or 2 for Rob. You can see the 2 screens side by side above.

[2018-04-03 20:19] kbt1 opened #2 "Misspelling"
under student  and teacher login, this is misspelled

Block Class Exame

should be Cylinder Block Exam

[2018-04-03 20:39] robchar opened #3 "Name Tab Change"
On the student and teacher main screen or dashboard at the top left "My Score" should be re-named to "Dashboard"

[2018-04-03 20:50] robchar opened #4 "Capitalization"
On the Dashboard of the student and teacher screen -
Chapter 7 Title should be "Engine Disassembly"
Chapter 18 title should be "Engine Installation and Break-In"

Hopefully this will also change the Select Chapter titles as well under the lesson tab as they are not capitalized either.

[2018-04-04 12:02] SagarPC commented on #4
@robchar: We done with this update and uploaded on stage.

++++++++++++
Hopefully this will also change the Select Chapter titles as well under the lesson tab as they are not capitalized either.
++++++++++++
Yes, this change will reflect everywhere for SAM TECH.

[2018-04-04 12:03] SagarPC commented on #3
@robchar : renamed "My Score" with "Dashboard" for the student and teacher login for SAM TECH.

[2018-04-04 12:04] SagarPC commented on #2
@kbt1 : We done with this correction and it's reflecting same on stage.

[2018-04-04 12:10] SagarPC commented on #1
@kbt1 : We addressed this issue and now it's showing proper result for the leader. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/38306731-1a2e7320-382f-11e8-85db-c5273e19c140.png)

[2018-04-04 13:47] kbt1 commented on #1
looks good.

[2018-04-04 13:47] #1 closed, assigned to kbt1

[2018-04-04 13:48] kbt1 commented on #2
looks good!

[2018-04-04 13:48] #2 closed, assigned to kbt1

[2018-04-04 13:49] kbt1 commented on #3
good!

[2018-04-04 13:49] #3 closed, assigned to robchar

[2018-04-04 13:50] kbt1 commented on #4
looks good

[2018-04-04 13:50] #4 closed, assigned to robchar

[2018-04-04 16:39] kbt1 opened #5 "Taking a test"
When you click on an answer box when taking the chapter tests, you get a shadow below it.
i dont know if this can be fixed or not. You see i selected C below and there is also a blue box underneath the D answer.

![image](https://user-images.githubusercontent.com/26387044/38321264-ab28ec12-37fc-11e8-9a13-6c2729246d41.png)

[2018-04-04 16:55] kbt1 opened #6 "Correction on the Exam Messages"
I selected **Cylinder Block Exam** but the message is about the Cylinder Head Exam

Summary
Congratulations on completing the study portion of AERA's Cylinder Head Training program. This means you have scored at least 80% on each chapter test.
Before taking the Cylinder Head exam we would like to urge you to go back and study the chapters to prepare for the exam. This exam will consist of 150 ques

[2018-04-04 17:05] kbt1 opened #7 "Teacher - Student List"
Under each student there is  "view"
the only thing under this that the teacher can do is change or add the Cylinder Head or Cylinder Block Course.  Can you add the students email as a link next to their name in case the teacher wants to email them to let the student know that they can take the next course?
Just an idea....

![image](https://user-images.githubusercontent.com/26387044/38322502-3710b

[2018-04-04 18:26] robchar opened #8 "Chapter 17 Title Re-name"
Please re-name chapter 17 "Preparing Performance Engines (Part A)" to
"Preparing Performance Engines (Cylinder Block)"

and chapter 17 "Preparing Performance Engines (Part B)" to
"Preparing Performance Engines (Cylinder Head)"

Thanks

[2018-04-04 18:31] robchar opened #9 "Wrong Exam Questions (Cylinder Block)"
The test questions in Chapter 17 "Preparing Performance Engines (Part A) are not the ones that were chosen.

I have attached the correct questions.

Thanks

[Chapter 17 Cylinder Block Test QuestionsTotal 25.docx](https://github.com/stellaballa/AERAEDU/files/1877081/Chapter.17.Cylinder.Block.Test.QuestionsTotal.25.docx)

[2018-04-04 18:34] robchar opened #10 "Wrong Exam Questions (Cylinder Head)"
The exam questions in chapter 17 "Preparing Performance Engines (Part B) are not the ones that were chosen.

I have attached the correct ones.
Thanks

[Chapter 17 Cylinder Head Test QuestionsTotal 25 (2).docx](https://github.com/stellaballa/AERAEDU/files/1877097/Chapter.17.Cylinder.Head.Test.QuestionsTotal.25.2.docx)

[2018-04-04 19:06] robchar opened #11 "Chapter 14 Title Re-Name"
Please re-name Chapter 14 from "Resurfacing Cylinder Heads and Block" to

"Resurfacing Cylinder Heads"

Thanks

[2018-04-04 22:35] stellaballa commented on #7
@kbt1  in the current system email address is not required. @robchar and @aharmening can you please ask the school if the teacher should communicate with student via email?

[2018-04-05 10:26] SagarPC commented on #11
Updated name as suggested.

![image](https://user-images.githubusercontent.com/31076567/38361061-c02b3410-38e9-11e8-92cd-3f6f4c8bd33c.png)

[2018-04-05 10:27] SagarPC commented on #10
Updated newly provided question list on stage.

[2018-04-05 10:27] SagarPC commented on #9
Updated newly provided question list on stage.

[2018-04-05 10:28] SagarPC commented on #8
done with the chapter name update on stage.

![image](https://user-images.githubusercontent.com/31076567/38361181-2a13e9bc-38ea-11e8-94c1-383c03dd1784.png)

[2018-04-05 10:29] SagarPC commented on #6
@robchar : Please provide us content  once you done, so we can load same on stage.

[2018-04-05 10:31] SagarPC commented on #5
@kbt1 : We fixed this one and not it's not showing shadow.

[2018-04-05 12:40] kbt1 commented on #5
looks good

[2018-04-05 12:40] #5 closed, assigned to kbt1

[2018-04-05 12:43] kbt1 commented on #11
good to go

[2018-04-05 12:43] #11 closed, assigned to robchar

[2018-04-05 12:44] kbt1 commented on #8
looks good

[2018-04-05 12:44] #8 closed, assigned to robchar

[2018-04-05 15:00] robchar opened #12 "Spelling Correction"
On the CMS Lesson screen there is the drop down arrow to choose which account you want to view
- AERA Master School or Sem tech Internactional. (screen shot below)

Please change "Sem tech Internactional" to just "Sam Tech"
and also change Aera Master school to AERA Master School
Thanks

![image](https://user-images.githubusercontent.com/26470619/38373946-158671cc-38b8-11e8-85f0-ed48ece81f01.png)

[2018-04-05 15:41] robchar opened #13 "Spelling Correction"
In the Test screen of the CMS under both AERA Master School and Sem tech Internactional there is a spelling error. Right now it is "Lessions" and it should be spelled "Lessons" (see screen shot below)

Thanks

![image](https://user-images.githubusercontent.com/26470619/38376223-bcbeef78-38bd-11e8-8a12-925f908d85fe.png)

[2018-04-05 17:19] robchar commented on #7
@kbt1 @stellaballa @aharmening I have reached out to the instructor and he has mentioned that this feature would help them greatly.

[2018-04-05 17:54] robchar commented on #10
Done, thanks.

[2018-04-05 17:54] #10 closed, assigned to robchar

[2018-04-05 17:55] robchar commented on #9
Done, thanks

[2018-04-05 17:55] #9 closed, assigned to robchar

[2018-04-05 18:02] robchar opened #14 "Exam questions are not in the same order as CMS"
The student Mid Term, Cylinder Block, and Cylinder Head Exam questions are in not in the same numbered order as the test questions on CMS. Please match both the CMS and student test questions the same.

Thanks

[2018-04-05 18:09] stellaballa commented on #7
@kbt1 We will have to make student email address required. Will it work for everyone?

[2018-04-05 18:10] kbt1 opened #15 "Email notification of Cylinder Head and Cylinder Block Exam Completed"
Stella

Rob completed the Cylinder Block Exam and I did not receive email notification.
Can you make sure that I am set up to receive email notification for Both the Cylinder Block Exam and Cylinder Head Exam completion.

Thank you

[2018-04-05 18:11] kbt1 commented on #7
Yes. That would be good.

[2018-04-05 18:15] stellaballa commented on #7
@SagarPC Please make SamTech student email "required". On the teacher student dash, make the name on the first column as a link to the email address.

[2018-04-05 18:16] stellaballa commented on #15
@SagarPC Notification email need to be sent to Karen:
Completion of Cylinder Block Exam
Completion of Block Exam
Completion of Midterm Exam
When teacher activate additional course for student.

[2018-04-05 18:19] stellaballa commented on #15
@SagarPC
The content for the email when teacher add course for the student should be:

Title: SamTech Added New Course for Student
Content: (Teacher Name) has added (Course Name) for (Student Name) on (Date).

[2018-04-05 19:44] kbt1 opened #16 "Admin CMS"
Stella
In the Admin CMS, not sure what the "Export Data to Excel" button is for on the test page?

![image](https://user-images.githubusercontent.com/26387044/38388075-bf1900a2-38df-11e8-9431-687a921e6dce.png)

[2018-04-05 19:54] stellaballa commented on #16
@SagarPC and it's not working. What is it exporting?

[2018-04-05 20:43] kbt1 opened #17 "Reset Function"
Stella
Can you make sure this reset function works with single, group and Sam Tech
http://www.aeraedu.com/login.aspx

it comes in handy.

thank you!

[2018-04-05 23:22] robchar commented on #6
@kbt1 @SagarPC @stellaballa @aharmening Please see attached the Mid Term Exam Summary, Engine Block Exam Summary, and the Cylinder Head Exam Summary to replace the summary text that is there now.
[Midterm Summary.docx](https://github.com/stellaballa/AERAEDU/files/1882149/Midterm.Summary.docx)
[Cylinder Block Exam Summary.docx](https://github.com/stellaballa/AERAEDU/files/1882150/Cylinder.Block.Exa

[2018-04-06 04:59] SagarPC commented on #15
@stellaballa :

+++++++++++
When teacher activate additional course for student.
+++++++++++
above notification send to Karen or Student?

[2018-04-06 05:00] stellaballa commented on #15
@SagarPC I guess it should be both. @kbt1 and @robchar ?

[2018-04-06 05:02] SagarPC commented on #7
@stellaballa: what should be happen when Teacher click on that name as linked to the email address? or we just need to add email address as link on first name.

[2018-04-06 05:04] stellaballa commented on #7
@SagarPC please add email address as link on the full name.

[2018-04-06 12:58] kbt1 commented on #15
Both would be good!

[2018-04-06 13:28] SagarPC commented on #16
@stellaballa : It's exporting selected chapter question in csv. There is access issue on stage. I gave proper access and now it's working.

[2018-04-06 13:35] SagarPC commented on #15
+++++++++
Completion of Cylinder Block Exam
Completion of Block Exam
Completion of Midterm Exam
+++++++++
_Subject: **(Stage)** A student has completed the course_

It will send notification to Karen only.

+++++++++
When teacher activate additional course for student.
+++++++++
_Subject: SamTech Added New Course for Student **(Stage)**_

It will send notification to Student and Karen both

I have

[2018-04-06 13:37] SagarPC commented on #14
@robchar : Earlier we are shuffling question for Mid Term, Cylinder Block, and Cylinder Head Exam and because of that it's not in order.

We remove that code so now it will show same order as we can see in CMS.

[2018-04-06 13:39] SagarPC commented on #13
We done with this correction.

![image](https://user-images.githubusercontent.com/31076567/38424229-f92e6798-39cd-11e8-8871-f17b0473d0cd.png)

[2018-04-06 13:41] SagarPC commented on #12
We updated School name and uploaded on stage.

![image](https://user-images.githubusercontent.com/31076567/38424275-26a22b38-39ce-11e8-9f95-d1f8a08bfa84.png)

[2018-04-06 13:51] SagarPC commented on #7
+++++++++++
Please make SamTech student email "required".
+++++++++++
There is nothing required on create user, so we need to implement validation for that screen.

+++++++++++
On the teacher student dash, make the name on the first column as a link to the email address.
+++++++++++
We added email link on student name for the teacher login.

![image](https://user-images.githubusercontent.com/31076

[2018-04-06 14:00] robchar commented on #12
Done, thanks

[2018-04-06 14:00] #12 closed, assigned to amandagoyette, kbt1

[2018-04-06 14:00] robchar commented on #13
Done, thanks

[2018-04-06 14:00] #13 closed, assigned to amandagoyette, kbt1

[2018-04-06 14:51] SagarPC commented on #6
@robchar : We done with the summery update as provided document.

[2018-04-06 14:52] SagarPC commented on #7
Please see above for the email link.

+++++++++++
Please make SamTech student email "required".
+++++++++++
We added required field for the email only for the SAM Tech user.

[2018-04-06 14:52] robchar opened #18 "Name Change"
Please change the two exam names in CMS in the Sam Tech screen from "Block Class" and "Head Class" to "Cylinder Block Exam" and "Cylinder Head Exam" (screen shot below) to stay consistent with the teacher screen.

Thanks

![image](https://user-images.githubusercontent.com/26470619/38427889-1473b4e8-3980-11e8-9ef3-15c5c1be18e9.png)

[2018-04-06 15:02] robchar commented on #6
Looks good, thanks.

[2018-04-06 15:02] #6 closed, assigned to robchar

[2018-04-06 15:06] robchar commented on #14
@SagarPC @aharmening @kbt1 @stellaballa Looks good, thanks.

Perhaps in several months after Sam Tech has been using the program for awhile we can put the code back in to have the questions shuffled, I just want to keep it simple for now.

[2018-04-06 15:06] #14 closed, assigned to amandagoyette, kbt1, robchar

[2018-04-06 15:16] robchar opened #19 "Notification Word Change"
Could we please change the format of the name and  date for notifications received.

This is how it is now: Munro Rob has added Cylinder Block Exam for Munro  on 2018/04/06.

can you make it "**Rob Munro** has added Cylinder Block Exam for Munro on **04/06/2018 MM/DD/YYYY.**

Thanks

[2018-04-06 15:21] kbt1 commented on #16
nothing happens when i click on it.

[2018-04-06 15:30] kbt1 commented on #7
looks good.

[2018-04-06 15:30] #7 closed, assigned to robchar

[2018-04-06 15:35] kbt1 commented on #15
good to go

[2018-04-06 15:35] #15 closed, assigned to kbt1, robchar

[2018-04-06 15:49] kbt1 opened #20 "CMS Accounts List"
Hi Stella

Last time I loaded this accounts page, the count was 1103, i think it was the beginning of the week.
Today I loaded the accounts page and the count is down to 998.  Why the difference?
Under Account Status:
All = 998
Active = 120
Expired = 878
Should there be a "Passed" option with a total also?

![image](https://user-images.githubusercontent.com/26387044/38430729-b03602f8-3987-11e8-9af

[2018-04-06 16:49] kbt1 commented on #20
fixed.

[2018-04-06 16:49] #20 closed, assigned to robchar

[2018-04-07 09:17] SagarPC commented on #16
@kbt1 : Please reload screen using Ctrl+F5 key and try again. I clicked and it working for me. There is few things related to browser cache so we need to reload page by pressing Ctrl+F5 key.

It's downloaded below file when I clicked on Export Data button.
http://stage.aeraedu.com/ClientBin/certReports/exam-1523092269.csv

[2018-04-09 10:25] SagarPC commented on #18
@robchar : We done with this change and uploaded on stage. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/38493030-607c66d8-3c0e-11e8-92c2-af221b5a7549.png)

[2018-04-09 10:27] SagarPC commented on #19
Updated email content as suggested. Please verify our update.

[2018-04-09 13:44] kbt1 commented on #18
looks good

[2018-04-09 13:44] #18 closed, assigned to amandagoyette, kbt1, robchar

[2018-04-09 13:49] kbt1 commented on #16
it works, looks good.

[2018-04-09 13:49] #16 closed, assigned to kbt1, robchar

[2018-04-09 14:10] kbt1 commented on #19
Still needs to be worded as is:

**The Instructor** has added Cylinder Head Exam for **Karen Tendering** on 04/09/18.

[2018-04-09 18:38] amandagoyette opened #21 "80% View wrong answers"
If you get 80% you pass, but the wrong answer button appears. It doesn't work making it confusing. Can we remove this? so it's consistent with the other passed chapters.
![image](https://user-images.githubusercontent.com/26386841/38515876-2ad13eb8-3bfb-11e8-859f-0627abdef138.png)

[2018-04-09 19:39] amandagoyette opened #22 "Cylinder Head Exam Question"
Answers vary from Rob's Sheet to actual exam.
Exam:
![image](https://user-images.githubusercontent.com/26386841/38518828-a7c7342e-3c03-11e8-8685-0021290e1e3c.png)
Rob's Doc:
![image](https://user-images.githubusercontent.com/26386841/38518860-beabf7e2-3c03-11e8-931f-fdb7e293f7c7.png)

[2018-04-09 20:01] amandagoyette opened #23 "Completion email to Karen"
Can we move the block exam so it appears under the block section so that the exam appears next to it's section for Karen:
![image](https://user-images.githubusercontent.com/26386841/38519914-de32fbf8-3c06-11e8-89fa-d6b259836fc3.png)

[2018-04-10 10:09] SagarPC commented on #23
We done wit the order change in email.

![image](https://user-images.githubusercontent.com/31076567/38550874-469f17c0-3cd5-11e8-9681-9378973dbd85.png)

[2018-04-10 10:11] SagarPC commented on #22
@aharmening : We looked int all file provided by Rob and notice there is issue with 1 more question. We resolved this issue for both question and now it's proper on stage.

[2018-04-10 10:14] SagarPC commented on #21
@aharmening: We removed that button when user passed the exam.

[2018-04-10 10:18] SagarPC commented on #19
@kbt1 : now instructor and student both showing as bold font, is that okay or any change?

![image](https://user-images.githubusercontent.com/31076567/38551343-91045ee6-3cd6-11e8-9aa4-289201779e7b.png)

[2018-04-10 16:27] stellaballa opened #24 "SamTech Expiration Date"
@SagarPC Please set expiration date to 20 months after the the starting date.

[2018-04-10 17:04] kbt1 commented on #23
good

[2018-04-10 17:04] #23 closed, assigned to amandagoyette, kbt1

[2018-04-10 17:10] kbt1 commented on #19
This is how the wording needs to:

"Group Leader First and Last Name" has added Cylinder Block Exam & Cylinder Head Exam for "Student First and Last name " on 04/10/18.

[2018-04-10 17:34] amandagoyette commented on #21
Looks good. Thanks!

[2018-04-10 17:34] #21 closed, assigned to amandagoyette

[2018-04-10 17:35] amandagoyette commented on #22
Thanks!

[2018-04-10 17:35] #22 closed, assigned to amandagoyette, robchar

[2018-04-10 18:50] amandagoyette opened #25 "Update format on date for Emails to Karen"
Please change the format on the dates for the chapters from yyyy-mm-dd to mm-dd-yyyy  Thanks!
![image](https://user-images.githubusercontent.com/26386841/38577278-140f149a-3cc6-11e8-9fba-e66a974e4c06.png)

[2018-04-12 20:13] kbt1 opened #26 "CMS on Stage"
I have run this report "Export Date to Excel"  in the CMS side of Sam Tech and it worked.
Now I run the report and nothing happens

![image](https://user-images.githubusercontent.com/26387044/38701581-e19ef62a-3e63-11e8-9ac3-0e4ec176f83b.png)

[2018-04-13 11:12] SagarPC commented on #24
@stellaballa : We done with this change and uploaded on stage.

[2018-04-13 11:15] SagarPC commented on #19
@kbt1 : Please see below image and let me know if any change in this.

![image](https://user-images.githubusercontent.com/31076567/38731955-fe44daac-3f39-11e8-9dae-d664e474ff76.png)

[2018-04-13 12:09] SagarPC commented on #26
@kbt1 : I found cause there is one specific case and in that case this export will stop working.

We fixed that things and uploaded change.

[2018-04-13 12:16] SagarPC commented on #25
We done with this change and uploaded on stage. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/38734262-85bcfc28-3f42-11e8-9947-40c6675c1f15.png)

[2018-04-13 12:51] kbt1 commented on #26
works good now

[2018-04-13 12:51] #26 closed, assigned to kbt1

[2018-04-13 12:56] kbt1 commented on #24
works good

[2018-04-13 12:56] #24 closed, assigned to nobody

[2018-04-13 13:00] kbt1 commented on #19
This is still wrong, it needs to be first and last name, it is coming through as last and first name.

Group Leader Tendering Karen has added Cylinder Block Exam & Cylinder Head Exam for Tendering on 04/13/18.

Should be: Group Leader **Karen Tendering** has added...........for **Karen Tendering** on 4/13/18.

[2018-04-13 13:26] kbt1 commented on #25
looks good.

[2018-04-13 13:45] SagarPC commented on #19
@kbt1 : can you please check now?

![image](https://user-images.githubusercontent.com/31076567/38738145-f84b143a-3f4e-11e8-8997-2c6b7bfb8398.png)

[2018-04-13 13:54] kbt1 commented on #19
Perfect!

[2018-04-13 13:54] #19 closed, assigned to amandagoyette, kbt1, robchar

[2018-04-16 15:04] #25 closed, assigned to amandagoyette, kbt1

[2018-04-27 17:53] kbt1 opened #27 "SamTech Live"
I added Rob and myself both with a student login and group leader login.
![image](https://user-images.githubusercontent.com/26387044/39377095-9050590a-4a19-11e8-936e-9e69702bc755.png)

Everything looks good when I login under student.

When i login under group leader, nothing appears and i have refreshed my screen:
![image](https://user-images.githubusercontent.com/26387044/39377146-c927e4be-4a19-

[2018-04-27 17:58] kbt1 commented on #27
I used robs instructor login and the student list is there
i used mine, nothing is there.  karen2 and instructor2

[2018-04-27 18:03] kbt1 commented on #27
i created a 2nd leader login for myself and it works
test1 and test1 - not sure why this works and the other doesnt.

[2018-04-27 18:28] kbt1 commented on #27
i think i figured this out, the group leader must have both the cylinder head and cylinder block boxes checked.  am I correct on this?

[2018-04-27 18:30] stellaballa commented on #27
@kbt1 not sure if that is the reason that trigger the account to work, but will look into it.

[2018-04-27 18:38] kbt1 commented on #27
i just edited Robs instructor login and when i unchecked one of the boxes and logged in, i couldnt see the students under his account either. I checked both boxes and the students are there.
Under Sam Tech, can we have both boxes automatically checked if the Group Leader box is checked?

[2018-04-28 08:20] SagarPC commented on #27
@kbt1 : Group leader must have both exam selected.

We added validation in user screen like Group Leader must have both exam selected automatically and admin not able to unchecked until "Group Leader" is checked.

Please review update on live and let us know if any query.

![image](https://user-images.githubusercontent.com/31076567/39394060-ccd64728-4aea-11e8-93f8-44dc86918567.png)

[2018-04-30 15:01] SagarPC commented on #17
@kbt1 : Yes it will work for AERA and SAM TECH both.

[2018-04-30 15:52] kbt1 commented on #27
sounds good.

[2018-04-30 15:52] #27 closed, assigned to kbt1, robchar

[2018-04-30 15:54] kbt1 commented on #17
sounds good. thank you!

[2018-04-30 15:54] #17 closed, assigned to kbt1

[2018-04-30 16:44] stellaballa opened #28 "Loading Animation"
@SagarPC can we add a loading animation on the admin side, when the account page is loading? When I click on the pagination number the page goes blank for a few sec and then the content load.

[2018-05-01 11:08] SagarPC commented on #28
@kbt1 : We have implemented loading animation on page change. Please refer below image and let me know if any change required in this update.

http://aeraedu.com/#/users

![image](https://user-images.githubusercontent.com/31076567/39470918-f265492e-4d5d-11e8-9bc1-f037c213c73a.png)

[2018-05-01 12:59] kbt1 commented on #28
i noticed that the system runs great now! i login, click on accounts and they are there. No more waiting for the page to load.  Great Job!!!!

[2018-05-01 12:59] #28 closed, assigned to kbt1

[2018-05-09 20:27] robchar opened #29 "Update #3 Notifications"
Hi Stella,

After the student completes the custom selected chapters and tests, are we going to get a notification to let us know when the student is all finished?

[2018-05-09 20:28] stellaballa commented on #29
@robchar we didn't build out the notification system for individual classes to keep the project within budget.

[2018-05-09 20:29] robchar opened #30 "Stage Site Login for Update #3"
Hi Stella,

I am having trouble finding what login and password to use on the stage site, is it the same stage site link we have been using for update #2?

Thanks
Rob

[2018-05-09 20:31] kbt1 commented on #29
can there be notification when all the chapters selected are completed, not each individual one?
for example, somone signs up for chapters 1-5, when they are all passed, can i get notification?
If not, I can manually keep an eye on it. If this program takes off, maybe down the line we can look into notification.

[2018-05-09 20:32] stellaballa commented on #30
@robchar correct. the URL is stage.aeraedu.com your login username is: munro

[2018-05-09 20:32] stellaballa commented on #29
@kbt1 let me discuss this with Sagar.

[2018-05-09 20:33] kbt1 commented on #30
Stella
Can you send me my login info also?

[2018-05-09 20:37] stellaballa commented on #30
@kbt1
UN: karen pw:5jiVsFo

[2018-05-09 20:41] robchar commented on #30
Stella,

Could I also bug you for my password, thanks :)

[2018-05-09 20:52] kbt1 commented on #30
Stella, when i log into the stage site using that user name and password, this is what i see.
![image](https://user-images.githubusercontent.com/26387044/39839173-ee717092-53a0-11e8-9600-c92ac60fead4.png)
it looks like my login as a student not admin?

[2018-05-10 13:01] SagarPC commented on #30
@stellaballa : I looked into this issue and notice there is update done under Administrator account and Admin converted to student.

We make code to prevent such update for Admin account also we hide all unwanted things for the Admin account to update. We can see screen like below when user comes to update Admin account form "Account" tab. This thinks prevent end-user to update anything for the Ad

[2018-05-10 17:08] kbt1 commented on #30
that works.

can you correct spelling
Account Type
 Studnet   Group

should be Student

[2018-05-10 17:10] kbt1 commented on #30
Stella and Sagar
Can you test the notification of a student completion to Karen@aera.org
my email issue seems to be fixed so you can change it back to aera.org and remove my gmail account.

[2018-05-10 18:01] SagarPC commented on #30
@kbt1 : I re-set email to karen@aera.org. please let me know if you start receiving email.

[2018-05-10 19:45] kbt1 commented on #30
When creating a new account, there is a spelling error
Account Type = Student   and  Group
Student is mispelled.

[2018-05-10 19:52] robchar commented on #30
@stellaballa
Hi Stella, I will need a login and password for the admin side to test as well. It looks like I am set up for the student side now.

Thanks
Rob

[2018-05-10 20:08] anthonypartsconnect commented on #30
@robchar

Hi Rob,
We are working on getting you an admin account. In the meantime can you use Karen's admin acct?
UN: karen PW:5jiVsFo

Thanks!  Let me know if you have any questions.

Anthony

[2018-05-10 20:10] robchar commented on #30
@anthonypartsconnect

Hi Anthony,

Thanks.

[2018-05-10 20:14] anthonypartsconnect opened #31 "Create ADMIN ACCT for AERA Users"
@SagarPC
Can you please create admin accounts for all AERA users plus Stella and myself.

Rob, Karen, Steve, Amanda, Stella, Anthony

Thank you!

Anthony

[2018-05-10 20:19] kbt1 opened #32 "Live Version of AERAEDU is missing all students"
I logged into my Live version of the Certification Course:
http://www.aeraedu.com/#/login

now i only see test students. My live database is gone. and the SamTech tab is gone.
![image](https://user-images.githubusercontent.com/26387044/39892153-4be1d64e-5465-11e8-9acc-944a373be8df.png)
UN: Karen
Password: 5jiVsFo

Am i doing something wrong?

[2018-05-10 20:26] kbt1 commented on #32
I can login with Amandas info and everything is good.
My admin login for the live database got messed up somewhere.

[2018-05-10 20:31] anthonypartsconnect commented on #32
@kbt1

Hi Karen,
Looks like there is some crosswire between admin and student accounts, we are looking into it and should have resolution by tomorrow morning. Thank your for your patience.
-Anthony

[2018-05-10 20:32] kbt1 commented on #32
thank you!

[2018-05-11 05:45] SagarPC commented on #31
Please see below I create live/stage admin login as below. That will work for stage and live both.

Stage: http://stage.aeraedu.com
Live: http://aeraedu.com

Username / Password
rob	/ rob@123#
karen / 5jiVsFo
Steve / qD6tdFR
amandapotter / aC9yfHP
stella / lai@123#
anthony / soto@123$

[2018-05-11 07:02] SagarPC commented on #29
We done with this change and uploaded on stage.  Please confirm our update.

[2018-05-11 07:06] SagarPC commented on #32
@kbt1 : We looked into this and it's same as #30, I explain this case under #30 . We already taken action to prevent this situation in future and uploaded on stage. Please fer below reference URL for that update.

https://github.com/stellaballa/AERAEDU/issues/30#issuecomment-388046388

[2018-05-11 12:54] kbt1 commented on #32
seems to be good now.

[2018-05-11 12:54] #32 closed, assigned to anthonypartsconnect

[2018-05-11 14:19] kbt1 commented on #29
It works perfectly!  thank you!

[2018-05-11 14:19] #29 closed, assigned to amandagoyette, kbt1, anthonypartsconnect

[2018-05-11 14:38] robchar commented on #30
@anthonypartsconnect

Hi Anthony, The log in is working.
Thanks.

[2018-05-11 14:38] #30 closed, assigned to amandagoyette, kbt1, robchar, anthonypartsconnect

[2018-05-11 15:41] anthonypartsconnect commented on #30
@robchar
Great, please let me know if anything comes up.
Anthony

[2018-05-11 15:46] anthonypartsconnect commented on #30
Hi all,

These have been generated for your team, please let me know if you have any questions.

Stage: http://stage.aeraedu.com
Live: http://aeraedu.com

Username / Password
rob	/ rob@123#
karen / 5jiVsFo
Steve / qD6tdFR
amandapotter / aC9yfHP

Thank you!
Anthony

[2018-05-11 15:52] kbt1 commented on #31
all look good.
Thank you.

[2018-05-11 15:52] #31 closed, assigned to anthonypartsconnect

[2018-05-15 15:38] anthonypartsconnect opened #33 "Cylinder Head and Engine Machinist Exam Clock Issue"
Since going live with update #2. The Cylinder Head and Engine Machinist final exam clocks have been reduced down to only 1 hour for all 150 questions. This is affecting all students, not just the SAM Tech screens. It is supposed to be 3 hours for all final exams and only 1 hour for chapter test exams.

[2018-05-15 16:03] SagarPC commented on #33
It's proper now on stage and live both. Please verify and send update to client.

![image](https://user-images.githubusercontent.com/31076567/40068976-91455e38-5887-11e8-9a99-823c2460fd37.png)

[2018-05-15 18:16] SagarPC commented on #33
Please see my comment above. It's fixed on stage and live.

[2018-05-15 18:34] robchar commented on #33
Looks good, thanks!

[2018-05-15 18:34] #33 closed, assigned to robchar, SagarPC, anthonypartsconnect

[2018-05-15 19:32] anthonypartsconnect commented on #33
Thank you Sagar and Rob.

[2018-05-16 15:47] kbt1 opened #34 "Completion Notifications"
Hi Guys!

I am not getting email notifications again so can you switch just the Online Certification notification emails to go to ktendering@gmail.com, this way I will get them and I dont have to search my spreadsheet and keep track of them manually.

Thank you!

[2018-05-16 15:50] anthonypartsconnect commented on #34
@SagarPC
Please see Karen's comment.  Can we switch just Online Certification notification to ktendering@gmail.com.
Thanks. - Anthony

[2018-05-16 16:42] anthonypartsconnect commented on #34
Hi all, just an update, we have Mark (Valley Computer Solutions) looking into this on server side.  We are currently waiting on his response. Keep you posted. -Anthony

[2018-05-16 16:44] kbt1 commented on #34
thank you!

[2018-05-16 17:55] SagarPC commented on #34
@kbt1 : updated email with "ktendering@gmail.com".

[2018-05-16 18:09] amandagoyette commented on #34
VCS is still working on the issue. I touched base with them today.

[2018-05-24 14:13] kbt1 commented on #34
all seems to be working good. I would like to keep these notifications going to my gmail account.
thanks!

[2018-05-24 14:13] #34 closed, assigned to amandagoyette, SagarPC, anthonypartsconnect

[2018-05-25 12:48] kbt1 opened #35 "Sam Tech Online Certification"
Please clear the Sam Tech sample database as soon as possible.
I am starting with their first list of 6 students and I wanted to enter them and start getting used to the system.
I have been in touch with them and they will be sending me separate lists so since they aren't all 70 at one time, I am going to work on them.

Thank you!

[2018-05-25 14:23] anthonypartsconnect commented on #35
Hi Karen,

I sent a notice to Sagar and he helped to clear the list. Please see his note below:

[  I cleared all information from SAM TECH and kept only Karen's account as teacher for the SAM TECH.
If she doesn't want her account then she can remove from by clicking on "Acc. Info" >> "View" button and "Delete Account". ]

Please let me know if that works for you.  Thanks Karen, Anthony.

[2018-05-25 14:28] kbt1 commented on #35
That is perfect, thank you very much!

[2018-05-25 14:28] #35 closed, assigned to SagarPC, anthonypartsconnect

[2018-05-25 15:55] kbt1 opened #36 "Sam Tech Certification"
I added the first set of people. It went good.
2 changes:
1) can you make the date range 24 months instead of 20 months for the expiration date.
2) can you make the drop down box "Select the existing Group Name" have the most recent group i added at the top instead of the bottom.
everything else is good.

[2018-05-25 16:13] anthonypartsconnect commented on #36
@kbt, let me confirm timing. Thank you. --
Anthony

[2018-05-29 17:43] anthonypartsconnect commented on #36
@kbt1

We are planning to have these items updated for your view Thursday. I will confirm with you Thursday morning 5/31.  Thanks  --Anthony

[2018-05-29 17:46] kbt1 commented on #36
Sounds good.
Thank you!

[2018-05-30 16:11] kbt1 commented on #36
looks good.
thank you!

[2018-05-30 16:11] #36 closed, assigned to anthonypartsconnect

[2018-06-19 16:32] anthonypartsconnect opened #37 "Online Training Exams - Wrong Answer Box"
@SagarPC

The wrong answer box is partially blocked by the button to retake the exam.
 See attached.

![online training 2](https://user-images.githubusercontent.com/39140696/41611043-9264e540-73a3-11e8-8c05-7246758ea61c.JPG)

[2018-06-20 09:16] SagarPC commented on #37
I done with the design change and uploaded on stage and production. Please refer below image.

![image](https://user-images.githubusercontent.com/31076567/41649216-a8238a76-7498-11e8-90e1-81e040226055.png)

[2018-06-20 13:55] robchar commented on #37
Looks good, thank you!

[2018-06-20 13:55] #37 closed, assigned to robchar

[2018-06-20 15:31] anthonypartsconnect commented on #37
Thank you @SagarPC!

[2018-06-22 16:09] anthonypartsconnect opened #38 "Incorrect Answer Box - following test submission"
@SagarPC please see screenshot provided by Rob.  It looks like the question #'s are blocked in the pop-up box. Thanks -- Anthony
![online 1 002](https://user-images.githubusercontent.com/39140696/41787000-e7c8e662-75fb-11e8-9bb8-de3dc2092b52.JPG)

[2018-06-25 11:15] SagarPC commented on #38
We resolved this thing on live and stage both. Please re-load screen using Ctrl+F5 key and confirm our update.

Regards,

[2018-06-25 13:57] robchar commented on #38
Everything looks good.

Thanks
Rob

[2018-06-25 13:57] #38 closed, assigned to robchar, SagarPC

[2018-06-25 15:36] anthonypartsconnect commented on #38
Great.  Thank you Rob and Sagar.

[2018-08-22 17:41] anthonypartsconnect opened #39 "SamTech New User Not Created Correctly - Apostrophe (') in name"
Process:
-Karen had a list of 4 users to add under the Sam Tech Tab, Group name Block032018
-She added 3 just fine. Could not add 1, but it says it has been created
-Checked 3 times that she added/created record for user it and it does not show up anywhere.
-last name of person to add was "O’Dowd", When she used "O Dowd" without the apostrophe, it worked.

It seems we need to allow apostrophe’s in

[2018-08-23 11:34] SagarPC commented on #39
@anthonypartsconnect : We fixed this issue and uploaded on live.

Please inform to client.

[2018-08-23 13:52] anthonypartsconnect commented on #39
Thanks Sagar, what exactly was done to fix the issue?

[2018-08-23 13:54] SagarPC commented on #39
@anthonypartsconnect : We changed our database query to manage Apostrophe (')  for user add/edit and upload.

[2018-08-23 13:55] anthonypartsconnect commented on #39
Got it, Thanks.

[2018-08-23 13:55] #39 closed, assigned to nobody

[2018-09-05 19:40] anthonypartsconnect opened #40 "Dues Batch Edit on AERA MMS"
Under **dues processing**   can we edit a closed batch (Batch 9-4-18kt).  Client entered a dues payment for ID#812 and the "Reg Type" was input as "Membership" when it should be "Prosis Pro".

Please change from "Membership" to "Prosis Pro".  Thank you.

![image](https://user-images.githubusercontent.com/39140696/45116730-8e4bff00-b108-11e8-8696-9075efa05eae.png)

[2018-09-06 14:52] SagarPC commented on #40
I will look into this and get back to you.

[2018-09-06 21:55] anthonypartsconnect commented on #40
Sagar, Karen just sent an email saying these records in the batch changed from positions 1 and 2, to now 16 and 17.  #17 has to be updated.  Not sure why these would change, if you can explain that would help me.  But priority is to change #17 "reg type"
Thanks.
![image002 3](https://user-images.githubusercontent.com/39140696/45187211-d0e30980-b1e4-11e8-96bd-b8814ea1c6e2.jpg)

[2018-09-07 06:21] SagarPC commented on #40
@anthonypartsconnect : Inside post batch I think there is no specific order for the record.

I just have taken the proper record for the Member# 812 and updated type with "Prosis Pro" where the amount is 459.

<img width="836" alt="update_record_to_prosis_pro" src="https://user-images.githubusercontent.com/31076567/45201763-275b5100-b294-11e8-9b08-8ea205aca8dd.png">

[2018-09-07 16:46] anthonypartsconnect commented on #40
Thank you Sagar.  I will let client know.

[2018-09-07 16:46] #40 closed, assigned to SagarPC

[2018-09-21 21:50] anthonypartsconnect opened #41 "Change Student's Grade"
@SagarPC

Please see picture below.  Can we manually change the student's score to 80% instead of 76% on the exam.  He attempted when the server was down earlier so his passing score was not recorded.

![image](https://user-images.githubusercontent.com/39140696/45907658-ac268e80-bdad-11e8-8748-bedfadaa2336.png)

[2018-09-22 08:43] SagarPC commented on #41
@anthonypartsconnect : updated score with 80%.

[2018-09-24 16:26] anthonypartsconnect commented on #41
Thank you Sagar.

[2018-09-24 16:26] #41 closed, assigned to SagarPC

[2018-10-03 18:09] anthonypartsconnect opened #42 "Change student's grade to show he passed Engine Machinist Exam & why did score not record"
@SagarPC

Sagar, can we please **update the score for the following student** to show he completed Engine Machinist Exam.  He said he already completed but it is not reflecting on the AERA admin side.  So we should also look into **why the score was not recorded.**

Student Name: Cody Isaak
Username: cisaak
Password: bba42252

[2018-10-04 09:22] SagarPC commented on #42
@anthonypartsconnect: I checked with the database and it's showing 0 attempts for the Engine Machinist Exam.

Please provide me % score that I need to add for this student. I can investigate if there is an entry in the database but here I can see 0 attempts.

[2018-10-04 13:32] SagarPC commented on #42
@anthonypartsconnect : I have updated the user with 80% score as instructed by Karen.

[2018-10-04 14:42] #42 closed, assigned to amandagoyette, kbt1, SagarPC

[2019-06-03 13:41] kbt1 opened #43 "Online Certification - Student Completed Final - No grade posted"
the following student completed the course and all I got was this message.

![image](https://user-images.githubusercontent.com/26387044/58806006-d7b77500-85da-11e9-92f9-0e6f2bd20886.png)

2 minutes later I got an email from the student to confirm he will be sent his certificates.
"Karen, i just wanted to make sure that my test went through as completed.  i saw the sign at the end that said my cert

[2019-06-03 14:59] SagarPC commented on #43
@kbt1 I updated his account with 90% for the final exam.

[2019-06-03 15:04] kbt1 commented on #43
Perfect, thank you!

[2019-06-03 15:04] #43 closed, assigned to kbt1

[2019-10-22 21:15] kbt1 opened #44 "Online Certification - IE"
I had a member call saying he is getting a white screen when he logs in on the Online Certification Website.
I finally figured out he is using Internet Explorer so I logged in with IE version 11 and got the same white screen.
Other then a different browser, is there is a reason for this? Update IE? Just checking.

From the member with the issue: thin client computers won't accept google chrome

[2019-10-22 21:15] stellaballa commented on #44
@kbt1  we will look into this.

[2019-10-23 04:21] SagarPC commented on #44
@kbt1 We used Ember Js Framework 1.10 to build the Aera Edu program. It's a completely javascript-based framework as many things related to javascript not supported in IE. Instead of IE, we can ask the client to use "Microsoft Edge". It's Microsoft Recommended browser.

![image](https://user-images.githubusercontent.com/31076567/67357321-90765480-f57a-11e9-90b0-7c30cee0bd8b.png)

[2019-10-23 04:30] stellaballa commented on #44
Sagar, Karen is asking about the online training not prosispro, I just want
to make sure your answer is for online training.

On Tue, Oct 22, 2019 at 9:21 PM SagarPC <notifications@github.com> wrote:

[2019-10-23 04:31] SagarPC commented on #44
@stellaballa Yes, my answer is for Online training.

[2019-10-23 04:37] stellaballa commented on #44
@kbt1 online training never worked on IE, the member can use chrome, safari and edge.

[2019-10-23 20:43] kbt1 commented on #44
he got in, thank you!

[2019-10-23 20:43] #44 closed, assigned to kbt1

[2019-11-19 15:32] kbt1 opened #45 "Online Certification Program"
I added 24 students from a school (not in a Group just individually) and 2 are not showing up when I search for them but if I try to add them again, it shows their login is added already added.
I am not sure if I skipped something but I dont know why they are not showing.

here is the list that i have added, the 2 highlighted in yellow are the ones that i cant find.
if you locate them, can you fix

[2019-11-19 16:58] stellaballa commented on #45
@kbt1  we will take a look

[2019-11-20 06:29] SagarPC commented on #45
I checked both users and not found any issue with the system. one is already added with a different name and another username is already exists.

1) "Nathan Meyer" added as "Nathan Miller" with username as "nmeyer". Please take appropeate action on this record.
![image](https://user-images.githubusercontent.com/31076567/69214157-2c9c7700-0b8c-11ea-86a9-7892b086a62e.png)

2) "Logan Johnson", I chec

[2019-11-20 16:45] kbt1 commented on #45
Thank you! Got it.

[2019-11-20 16:45] #45 closed, assigned to kbt1

[2019-12-03 14:19] kbt1 opened #46 "Online Certification Program - Cyl Head Exam Grade Fix"
Can you please update the following account with a passing grade of 84% for the Cylinder Head Exam. I have attached an image the member sent. He passed it but the score wasnt posted.
please let me know when this has been fixed.
[Cyl Head Exam Score.pdf](https://github.com/stellaballa/AERAEDU/files/3917047/Cyl.Head.Exam.Score.pdf)

User Name: jims
Password: precise1

Thank you!

[2019-12-03 17:35] stellaballa commented on #46
@SagarPC  please update.

[2019-12-04 17:25] kbt1 commented on #46
please let me know when this will be fixed. mbr is waiting to complete exam.
Thanks!

[2019-12-04 18:42] SagarPC commented on #46
@kbt1 It's updated. Please ask them to do login and check.

[2019-12-04 19:07] kbt1 commented on #46
Thank you!

[2019-12-04 19:07] #46 closed, assigned to kbt1